# DATABASE
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_NAME="boardpefocus_db"
DB_USER="boarduser"
DB_PASSWORD="board@1234"
DATABASE_URL="postgresql://boarduser:board%401234@127.0.0.1:5432/boardpefocus_db"


# AUTH
JWT_SECRET="Bpf_JWT_2026_X9vK2mQ7sT4zN8pL6rH3yD5aW1cE0bFq"